<div class="container">
  <div>ここはオーダー表の予定</div>
<%= form_with model: @order, url: orders_path, method: :patch do |f|%>
<%= f.label :"オーダー" %><br>
<%= f.text_field :order_number1%><br>
<%= f.text_field :order_number2%><br>
<%= f.text_field :order_number3%><br>
<%= f.text_field :order_number4%><br>
<%= f.text_field :order_number5%><br>
<%= f.text_field :order_number6%><br>
<%= f.text_field :order_number7%><br>
<%= f.text_field :order_number8%><br>
<%= f.text_field :order_number9%><br>
<%end%>
</div>
